.Intro{
    display: flex;
    margin-top: 6rem;
    height: 77vh;
}

.i-left{
    display:flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
}

.i-name{
    display: flex;
    flex-direction: column;
}

.i-name>:nth-child(1){
    font-size: 3rem;
    font-weight: bold;
    color: var(--black);
}

.i-name>:nth-child(2){
    font-size: 3rem;
    font-weight: bold;
    color: var(--orange);
}

.i-name>:nth-child(3){
    font-size: 14px;
    font-weight: 100;
    color: var(--gray);
    margin-top:  10px;
}

.i-button{
    display: flex;
    margin-top: 2rem;
    width: 6rem;
    height: 2rem;
}

.i-icons{
    display: flex;
    margin-top: 3rem;
    gap: 0rem;
}

.i-icons>*{
    transform: scale(0.5);
}

.i-icons>*:hover{
    cursor: pointer;
}

.i-right{
    flex: 1;
    position: relative;
}

.i-right>*{
    position: absolute;
    z-index: 1;
}

.i-right>:nth-child(1){
    left: -15%;
    transform: scale(0.69);
    top: -9%;
}

.i-right>:nth-child(2){
    left: -3rem;
    transform: scale(0.67);
    top: -4.6rem;
}

.i-right>:nth-child(3){
    left: 28%;
    transform: scale(1.4);
}

.i-right>:nth-child(4){
    transform: scale(0.5);
    top: -13%;
    left: -20%;
    border-radius: 50%;
    padding: 0;
}

.blur{
    position: absolute;
    width: 22rem;
    height: 14rem;  
    border-radius: 50%;
    background: #edd0ff;
    z-index: -9;
    top: -18%;
    left: 56%;
    filter: blur(212px);
}